*~
*.egg-info
*.egg
*.eggs
*.pyc
.env
.idea/**
dist/**
build/**
mongrations.egg-info/**
**/__pycache__/**
temp/**
old.txt
docs/_build/**
docs/_templates/**
migrations/**
.mongrations/**
.DS_Store
mongrations/data/cache.json